<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://kit.fontawesome.com/22e05b780c.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap" rel="stylesheet">
</head>

<body>
    <header class="header">
        <div>
            <h1><span style="color: rgb(192, 57, 43 );font-size: 70px;">Fiscalias App</span> IPS</h1>
        </div>
    </header>
    {% include "fiscaliaApp/menuBar.html" %}</div>
    {% block content %}
    reemplazo de contenido
    {% endblock %}
</body>
<footer class="footer"> Copyright <i class="far fa-copyright"></i> 2021-2030 | Derechos reservados
</footer>

</html>