<div>
    <nav class="nav-grid">
        <div class="nav-logo">
            <div>
                <h2 class="h2"><i class="fas fa-atlas"></i>Fiscalias</h2>
            </div>
        </div>
        <div class="nav-enlaces">
            <a href="#"><i class="fas fa-house-user"></i>Inicio</a>
            <a href="#"><i class="far fa-address-book"></i>Registrarse</a>
            <a href="#"><i class="fas fa-list-ul"></i>Fiscalias</a>
            <a href="#"><i class="far fa-address-book"></i>Herramientas</a>
            <a href="#"><i class="fas fa-list-ul"></i>Salir</a>
        </div>
    </nav>
</div>