{% extends 'base.html' %}
{% block title %}
  Registro
{% endblock %}

{% block body %}
{% if messages %}
    {% for message in messages %}
    <div class="notification {{ message.tags}}">
        {{ message }}
    </div>
    {% endfor %}
  {% endif %}

    <div class="main">
      <h1>Registro de Usuario</h1>
        <nav class   ="second-nav">
          <form method ='POST'> 
            {% csrf_token %}
            {{form.as_p}}
            <button type ='submit' >Registrarses</button>
          </form>
        </nav>
    </div>

{% endblock %}

