{% extends 'base.html' %}
{% block content %}
<h2>Bienvenido(a) {{ object.usuariocol }}</h2>
<div>
    <div>
        <h2>Información de Fiscalia</h2>
    </div>
    <div>
        <p>Id-Fiscalia : {{object.idfiscalia}}</p>
        <p>Departamento: {{object.fisdepartamento}}</p>
        <p>Provincia : {{object.fisprovincia}}</p>
        <p>Nombre : {{object.fisnombre}}</p>
        <p>Especialidad: {{object.fisespecialidad}}</p>
        <p>Tipo : {{object.fistipo}}</p>
        <p>Situación : {{object.fissituación}}</p>
    </div>
</div>
{% endblock %}