{% extends 'base.html' %}
{% block content %}
<h2>Buscar Fiscalias</h2>
<div>
    <form name="formulario" target="_blank">
        <label>Tipos de busqueda de Fiscalias</label>
        <select name="centrales">
            <option>» Escoge «</option>
            <option value="">Especialidad</option>
            <option value="">Codigo</option>
            <option value="">Distrito</option>
            <option value="">Tipo de Fiscalia</option>
            <option value="">Situacion</option>
            <input type="button" value="Ver" />
    </form>    
    {% endblock %}
</div>