{% extends 'base.html' %}
{% block content %}
<h2>Registrarse</h2>

<form class="nuevo-form" method='POST'>{% csrf_token %}
    <fieldset>
        <legend class="text-center-header">Registrarse</legend>

        <div class="nuevo-div">
            <i class="fas fa-book-open bigicon"></i>
            <div class="nuevo-info">
                {{form.usuariocol}}
            </div>
        </div>

        <div class="nuevo-div">
            <i class="fas fa-book-open bigicon"></i>
            <div class="nuevo-info">
                {{form.nombre}}
            </div>
        </div>

        <div class="nuevo-div">
            <i class="fa fa-pencil-square-o bigicon"></i>
            <div class="nuevo-info">
                {{form.contraseña}}
            </div>
        </div>

        <div class="nuevo-div">
            <i class="fa fa-pencil-square-o bigicon"></i>
            <div class="nuevo-info">
                {{form.direccion}}
            </div>
        </div>

        <div class="nuevo-div">
            <button type="submit">Guardar</button>
        </div>
    </fieldset>
</form>
{% endblock %}