{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static '../static/base2.css' %}">
  <title>
    {% block title %}
      FISCALIAS
    {% endblock %}
  </title>
</head>

<body>

  <div class="d-flex justify-content-center bordeee ">
    <header class="d-flex justify-content-center py-3" >
      <ul class="nav nav-pills">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <li class="nav-item">
          <a href="#" class="nav-link" aria-current="page"><span class="material-symbols-outlined">house</span><br>INICIO</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link"><span class="material-symbols-outlined">apartment</span><br>FISCALIAS</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link"><span class="material-symbols-outlined">perm_identity</span><br>PERFIL</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link"><span class="material-symbols-outlined">group</span><br>REGISTRARSE</a>
        </li>
      </ul>
    </header>
  </div>
  

  {% block body %}
  {% endblock %}
</body>
</html>